<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="js/main.js" type="module"></script>
    <script src="https://kit.fontawesome.com/0517951e44.js" crossorigin="anonymous" defer></script>
    <title>Isa Westling | Kurser</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>
    <div id="overlay" class="hidden"></div>
    <header>
        <a href="/"><img src="../images/logo.svg"></a>
        <nav id="menu">
            <ul>
                <li><a id="active" href="/">KURSER</a></li>
                <li><a href="/addcourse">LÄGG TILL KURS</a></li>
                <li><a href="/about">OM SIDAN</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Kurser</h1>
        <!-- Tabell för att visa tillagda kurser -->
        <section id="course-section">
            <h2>Mina kurser</h2>
            <div id="responsive-table">
                <table id="table-container">
                    <thead>
                        <tr>
                            <th>Kurskod</th>
                            <th>Kursnamn</th>
                            <th>Kursplan</th>
                            <th>Progression</th>
                            <th></th> <!-- Tom rubrik för radera-knappen -->
                        </tr>
                    </thead>
                    <!-- Loopar genom alla kurser från resultatet, skriver ut en ny ras i tabellen för varje kurs med tabellceller för datan -->
                    <tbody id="courses">
                        <% courses.forEach((course)=> { %>
                            <tr>
                                <td>
                                    <%= course.CourseCode %>
                                </td>
                                <td>
                                    <%= course.CourseName %>
                                </td>
                                <td><a href="<%= course.Syllabus %>" target="_blank">Kursplan</a></td>
                                <td>
                                    <%= course.Progression %>
                                </td>
                                <td>
                                    <a href="/delete-course/<%= course.CourseID %>" class="delete-btn">Radera <i
                                            class='fa fa-solid fa-trash-can'></i></a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <div class="menu-container">
        <nav class="mobile-menu hidden">
            <ul>
                <li><a href="/">KURSER</a></li>
                <li><a href="/addcourse">LÄGG TILL KURS</a></li>
                <li><a href="/about">OM SIDAN</a></li>
            </ul>
        </nav>
        <button class="menu-toggle">MENY <i class="fa-solid fa-bars"></i><i class="fa-solid fa-xmark"></i></button>
    </div>
    <footer>
        <p>&copy; 2024 Isa Westling</p>
        <p>DT207G Backend-baserad webbutveckling</p>
        <p>Webbutvecklingsprogrammet, Mittuniversitetet</p>
    </footer>
</body>

</html>